<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBCONN" connectionString="Data Source=GDC-LAPTOP-308;Initial Catalog=Libary;Integrated Security=True"
	   providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="MOCKLIB" value="Mock"/>
	</appSettings>
</configuration>